{% extends 'base.html.twig' %}

{% block title %}Superheroes index{% endblock %}

{% block body %}
    <h1>Superheroes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Featured</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for superhero in superheroes %}
            <tr>
                <td>{{ superhero.id }}</td>
                <td>{{ superhero.name }}</td>
                <td>{{ superhero.slug }}</td>
                <td>{{ superhero.featured }}</td>
                <td>{{ superhero.createdAt ? superhero.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_superheroes_show', {'id': superhero.id}) }}">show</a>
                    <a href="{{ path('app_superheroes_edit', {'id': superhero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_superheroes_new') }}">Create new</a>
{% endblock %}
