{% extends 'base.html.twig' %}

{% block title %}ErpCategoriePremiere index{% endblock %}

{% block body %}
    <h1>ErpCategoriePremiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Creepar</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_categorie_premiere in erp_categorie_premieres %}
            <tr>
                <td>{{ erp_categorie_premiere.id }}</td>
                <td>{{ erp_categorie_premiere.code }}</td>
                <td>{{ erp_categorie_premiere.nom }}</td>
                <td>{{ erp_categorie_premiere.creepar }}</td>
                <td>{{ erp_categorie_premiere.datecreation ? erp_categorie_premiere.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ erp_categorie_premiere.datemodification ? erp_categorie_premiere.datemodification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_erp_categorie_premiere_show', {'id': erp_categorie_premiere.id}) }}">show</a>
                    <a href="{{ path('app_erp_categorie_premiere_edit', {'id': erp_categorie_premiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_categorie_premiere_new') }}">Create new</a>
{% endblock %}
